html {
    scroll-behavior: smooth;
}


nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}



.bg-gray{
    width: 100%;
    height: 4rem;
    background-color: #fafafa;
}



.profile {
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    padding-bottom: 7.5rem;
}
.col-profile{
    font-size: 1.5rem;
    margin-left: 1rem;
    padding-right: 2rem;
}
.col-profile > p{
    text-align: justify;
}
.col-img {
    margin-right: 1rem;
    text-align: center;
}
.col-img > img {
    width: 30rem;
    border-radius: 2%;
}

.btn {
    font-size: 1rem;
    background-color: #333;
    color: white;
    border-radius: .6rem;
    padding: .3rem 1rem;
}
.btn:hover {
    background-color: #FFF;
    color: #333;
}

@media screen and (max-width: 1150px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .col-profile{
        margin-bottom: 1rem;
    }

    .col-img > img {
        width: 95%;
    }
}







.skills {
    padding-bottom: 14rem;
    padding-top: 14rem;
    text-align: center;
}

.skills-title {
    text-align: center;
    font-size: 2.5rem;
}


.skills-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.card {
    flex: 0 1 10rem;
    margin: 10px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    padding: 20px 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px #ebebeb;
}

.card-js{
    padding: 33px 5px 5px 5px;
}

.icon {
    max-width: 5rem;
}

.html {
    max-width: 7rem;
}

.js {
    max-width: 11rem;
}

.bootstrap {
    margin-top: 1rem;
    max-width: 7rem;
}

@media (max-width: 768px) {
    .card-container {
        justify-content: center;
    }

    .card {
        flex-basis: 100%;
    }
}









.projects {
    text-align: center;
    font-size: 2.5rem;
    background-color: #fafafa;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.projects-title {
    text-align: center;
    font-size: 2.5rem;
}



.projects h3 {
    font-size: 2rem;
    text-align: start;
}

.projects-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.thumbs {
    width: 18rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projects-container .card h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.3rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 1.3rem;
}

.projects-container .card p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;   
    font-style: normal;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.4rem;
}

@media (max-width: 769px) {
    .card {
        flex-basis: 100%;
        max-width: 20rem;
    }
}









.contacts-container {
    max-width: 25rem;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #f5f5f5;
    border-radius: 0.625px;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

.contacts-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

form {
    display: grid;
    gap: 20px;
}

@media (min-width: 768px) {
    form {
        grid-template-columns: 1fr 1fr;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

textarea {
    height: 100px;
}

.submit {
    margin-top: 1.2rem;
    text-align: center;
}

#submit {
    border: #333 solid 2px;
}

#submit:hover {
    background-color: #fff;
    color: #333;
}

.contacts-container button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
}





footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}